/*'Ubuntu font*/ 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --s-white: #e7f0ed;
    --data-row:  #e7ffed;
    --s-blue: #628ca6;
    --s-aqua: #7fb9c2;

    background-image: url('images/wp4425600.jpg');
}

main{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top:1%;
    padding:1.5%;
    /*opacity: 0.5;*/
}
p, a, input, button, td, th, h1{
    font-family: 'Ubuntu', sans-serif;
}
th, h1{
    font-weight: bolder;
}

/* TABLE*/
table{
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

th{
    background-color: var(--s-blue);
}

td{
    background-color: var(--s-aqua);
}

thead:first-child{
    font-weight: bolder;
    font-size: 1.2em;
}

#foot{
    font-weight: bolder;
    background-color: var(--s-blue);
}

@media only screen and (max-width: 750px) {
    main{
        margin-right:15%;
    }
    table{
        margin: 0px;
    }
}
@media only screen and (max-width: 400px){


    main{
        margin-right: 0px;
        margin-left:0px;

    } 
}